<p id="notice"><%= notice %></p>

<div class = "show">
	<div id = "date">
	  最終更新：<%= @note.updated_at %>
	</div>
<div class = "title">
  <%= @note.title %>
</div>
<div class = "tag_area">
    <% @note.tags.each do |tag| %>
     <div class = "tag_name" >
      <%= tag.name %>
     </div>
    <% end %>
</div>

  <div id="view_text">
    <%= to_reading(@note.content).html_safe %>
  <% if @note.content.include?("*") %>
    <div class = "blue_button">
      <%= button_to '出題する' , url_for(action: :show_question) ,:method => :get %>
    <% end %>
    </div>
  </div>

</div>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %> 
