<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>

  <%= to_reading(@note.content).html_safe %>
</p>

<p>
  <strong>Tag:</strong>
    <% @note.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
