<p id="notice"><%= notice %></p>

<h1>Note Tags</h1>

<table>
  <thead>
    <tr>
      <th>Note_id</th>
      <th>Tag_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @note_tags.each do |note_tag| %>
      <tr>
        <td><%= note_tag.note %></td>
        <td><%= note_tag.tag %></td>
        <td><%= link_to 'Show', note_tag %></td>
        <td><%= link_to 'Edit', edit_note_tag_path(note_tag) %></td>
        <td><%= link_to 'Destroy', note_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note Tag', new_note_tag_path %>
