<p id="notice"><%= notice %></p>

<p>
  <strong>Correct answer:</strong>
  <%= @answer.correct_answer %>
</p>

<p>
  <strong>Practical answer:</strong>
  <%= @answer.practical_answer %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
